body {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Sawarabi Gothic", "Noto Sans", sans-serif;
}

.name {
  display: block;
  transform: rotate(90deg);
  font-weight: 500;
  font-size: 12rem;
  letter-spacing: 2dvw;
}

rt {
  font-size: 3.6rem;
  font-weight: 600;
}

.hidden {
  color: white;
  position: absolute;
  top: 0;
  font-size: 1px;
  font-weight: 100;
}
